In [1]:
import keras

Using TensorFlow backend.

In [6]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [7]:
bc=pd.read_csv("bank.csv")
bc.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
#dropping the columns RowNumber,customerID,surname as these are unique identifiers of the customer
bc=bc.drop(['RowNumber','CustomerId','Surname'],axis=1)
bc.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
#Now applying label encoding for the columsn Geography and Gender
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder()

In [11]:
bc['Geography']=le.fit_transform(bc['Geography'])
bc.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,Female,42,2,0.00,1,1,1,101348.88,1
1,608,2,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,0,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,0,Female,39,1,0.00,2,0,0,93826.63,0
4,850,2,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
bc['Gender']=le.fit_transform(bc['Gender'])
bc.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [13]:
#Now one hard encoding the geography
bc=pd.get_dummies(bc,columns=['Geography'])
bc.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_0,Geography_1,Geography_2
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [14]:
# spliting the features and target
x=bc.drop('Exited',axis=1)
y=bc['Exited']

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [17]:
#Normalizing the data
from sklearn.preprocessing import StandardScaler

In [18]:
sc=StandardScaler()

In [19]:
X_train=sc.fit_transform(x_train)
X_test=sc.fit_transform(x_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [20]:
from keras.models import Sequential
from keras.layers import Dense

In [21]:
# create first model
model = Sequential()
#Adding 3 dense layers
model.add(Dense(12, input_dim=12,init='uniform',activation ='relu'))
model.add(Dense(8,init='uniform',activation ='relu'))
model.add(Dense(1,init='uniform',activation ='sigmoid'))
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# Fit the model
model.fit(X_train, y_train, nb_epoch=20, batch_size=10,  verbose=2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(12, input_dim=12, activation="relu", kernel_initializer="uniform")`
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(8, activation="relu", kernel_initializer="uniform")`
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="sigmoid", kernel_initializer="uniform")`

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  # Remove the CWD from sys.path while we load stuff.

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/20
 - 2s - loss: 0.4742 - acc: 0.7980
Epoch 2/20
 - 1s - loss: 0.4224 - acc: 0.8006
Epoch 3/20
 - 1s - loss: 0.4158 - acc: 0.8253
Epoch 4/20
 - 1s - loss: 0.4097 - acc: 0.8320
Epoch 5/20
 - 1s - loss: 0.4056 - acc: 0.8359
Epoch 6/20
 - 1s - loss: 0.4031 - acc: 0.8360
Epoch 7/20
 - 1s - loss: 0.4004 - acc: 0.8380
Epoch 8/20
 - 1s - loss: 0.3991 - acc: 0.8377
Epoch 9/20
 - 1s - loss: 0.3975 - acc: 0.8364
Epoch 10/20
 - 1s - loss: 0.3965 - acc: 0.8376
Epoch 11/20
 - 1s - loss: 0.3957 - acc: 0.8384
Epoch 12/20
 - 1s - loss: 0.3946 - acc: 0.8374
Epoch 13/20
 - 1s - loss: 0.3944 - acc: 0.8390
Epoch 14/20
 - 1s - loss: 0.3938 - acc: 0.8404
Epoch 15/20
 - 1s - loss: 0.3932 - acc: 0.8383
Epoch 16/20
 - 1s - loss: 0.3928 - acc: 0.8399
Epoch 17/20
 - 1s - loss: 0.3919 - acc: 0.8407
Epoch 18/20
 - 1s - loss: 0.3917 - acc: 0.8409
Epoch 19/20
 - 1s - loss: 0.3900 - acc: 0.8417
Epoch 20/20
 - 1s - loss: 0.3894 - acc: 0.8417

In [22]:
#predecting the results
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [23]:
cm

array([[2292,   81],
       [ 410,  217]], dtype=int64)

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
score=accuracy_score(y_test, y_pred)
score

0.8363333333333334

In [37]:
#Adjusting the model

# create first model
model1 = Sequential()
#Adding 3 dense layers
model1.add(Dense(6, input_dim=12,init='uniform',activation ='relu'))
model1.add(Dense(6,init='uniform',activation ='relu'))
model1.add(Dense(6,init='uniform',activation ='relu'))
model1.add(Dense(6,init='uniform',activation ='relu'))
model1.add(Dense(1,init='uniform',activation ='sigmoid'))
# Compile model
sgd = keras.optimizers.Adam(lr=0.001)
model1.compile(loss='binary_crossentropy', optimizer=sgd, metrics=['accuracy'])
# Fit the model
model1.fit(X_train, y_train, nb_epoch=100, batch_size=64,  verbose=2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(6, input_dim=12, activation="relu", kernel_initializer="uniform")`

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(6, activation="relu", kernel_initializer="uniform")`
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(6, activation="relu", kernel_initializer="uniform")`

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(6, activation="relu", kernel_initializer="uniform")`
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="sigmoid", kernel_initializer="uniform")`
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  from ipykernel import kernelapp as app

Epoch 1/100
 - 1s - loss: 0.6524 - acc: 0.7986
Epoch 2/100
 - 0s - loss: 0.4687 - acc: 0.7986
Epoch 3/100
 - 0s - loss: 0.4394 - acc: 0.7986
Epoch 4/100
 - 0s - loss: 0.4279 - acc: 0.7986
Epoch 5/100
 - 0s - loss: 0.4174 - acc: 0.7986
Epoch 6/100
 - 0s - loss: 0.4073 - acc: 0.7986
Epoch 7/100
 - 0s - loss: 0.3973 - acc: 0.7986
Epoch 8/100
 - 0s - loss: 0.3880 - acc: 0.7986
Epoch 9/100
 - 0s - loss: 0.3804 - acc: 0.8273
Epoch 10/100
 - 0s - loss: 0.3754 - acc: 0.8506
Epoch 11/100
 - 0s - loss: 0.3714 - acc: 0.8519
Epoch 12/100
 - 0s - loss: 0.3683 - acc: 0.8563
Epoch 13/100
 - 0s - loss: 0.3659 - acc: 0.8583
Epoch 14/100
 - 0s - loss: 0.3644 - acc: 0.8586
Epoch 15/100
 - 0s - loss: 0.3635 - acc: 0.8587
Epoch 16/100
 - 0s - loss: 0.3618 - acc: 0.8601
Epoch 17/100
 - 0s - loss: 0.3603 - acc: 0.8609
Epoch 18/100
 - 0s - loss: 0.3594 - acc: 0.8590
Epoch 19/100
 - 0s - loss: 0.3583 - acc: 0.8599
Epoch 20/100
 - 0s - loss: 0.3580 - acc: 0.8600
Epoch 21/100
 - 0s - loss: 0.3572 - acc: 0.8601
Epoch 22/100
 - 0s - loss: 0.3569 - acc: 0.8611
Epoch 23/100
 - 0s - loss: 0.3557 - acc: 0.8590
Epoch 24/100
 - 0s - loss: 0.3554 - acc: 0.8610
Epoch 25/100
 - 0s - loss: 0.3548 - acc: 0.8621
Epoch 26/100
 - 0s - loss: 0.3543 - acc: 0.8596
Epoch 27/100
 - 0s - loss: 0.3535 - acc: 0.8610
Epoch 28/100
 - 0s - loss: 0.3530 - acc: 0.8601
Epoch 29/100
 - 0s - loss: 0.3530 - acc: 0.8623
Epoch 30/100
 - 0s - loss: 0.3522 - acc: 0.8620
Epoch 31/100
 - 0s - loss: 0.3514 - acc: 0.8600
Epoch 32/100
 - 0s - loss: 0.3508 - acc: 0.8601
Epoch 33/100
 - 0s - loss: 0.3508 - acc: 0.8611
Epoch 34/100
 - 0s - loss: 0.3505 - acc: 0.8614
Epoch 35/100
 - 0s - loss: 0.3500 - acc: 0.8619
Epoch 36/100
 - 0s - loss: 0.3499 - acc: 0.8596
Epoch 37/100
 - 0s - loss: 0.3493 - acc: 0.8616
Epoch 38/100
 - 0s - loss: 0.3490 - acc: 0.8611
Epoch 39/100
 - 0s - loss: 0.3490 - acc: 0.8616
Epoch 40/100
 - 0s - loss: 0.3486 - acc: 0.8601
Epoch 41/100
 - 0s - loss: 0.3487 - acc: 0.8600
Epoch 42/100
 - 0s - loss: 0.3481 - acc: 0.8614
Epoch 43/100
 - 0s - loss: 0.3476 - acc: 0.8606
Epoch 44/100
 - 0s - loss: 0.3478 - acc: 0.8634
Epoch 45/100
 - 0s - loss: 0.3478 - acc: 0.8614
Epoch 46/100
 - 0s - loss: 0.3477 - acc: 0.8610
Epoch 47/100
 - 0s - loss: 0.3471 - acc: 0.8609
Epoch 48/100
 - 0s - loss: 0.3470 - acc: 0.8609
Epoch 49/100
 - 0s - loss: 0.3468 - acc: 0.8597
Epoch 50/100
 - 0s - loss: 0.3474 - acc: 0.8623
Epoch 51/100
 - 0s - loss: 0.3466 - acc: 0.8611
Epoch 52/100
 - 0s - loss: 0.3462 - acc: 0.8627
Epoch 53/100
 - 0s - loss: 0.3465 - acc: 0.8616
Epoch 54/100
 - 0s - loss: 0.3457 - acc: 0.8617
Epoch 55/100
 - 0s - loss: 0.3461 - acc: 0.8616
Epoch 56/100
 - 0s - loss: 0.3460 - acc: 0.8604
Epoch 57/100
 - 0s - loss: 0.3462 - acc: 0.8607
Epoch 58/100
 - 0s - loss: 0.3458 - acc: 0.8614
Epoch 59/100
 - 0s - loss: 0.3455 - acc: 0.8603
Epoch 60/100
 - 0s - loss: 0.3452 - acc: 0.8609
Epoch 61/100
 - 0s - loss: 0.3458 - acc: 0.8624
Epoch 62/100
 - 0s - loss: 0.3453 - acc: 0.8617
Epoch 63/100
 - 0s - loss: 0.3446 - acc: 0.8616
Epoch 64/100
 - 0s - loss: 0.3451 - acc: 0.8607
Epoch 65/100
 - 0s - loss: 0.3446 - acc: 0.8610
Epoch 66/100
 - 0s - loss: 0.3445 - acc: 0.8614
Epoch 67/100
 - 0s - loss: 0.3444 - acc: 0.8623
Epoch 68/100
 - 0s - loss: 0.3445 - acc: 0.8607
Epoch 69/100
 - 0s - loss: 0.3447 - acc: 0.8593
Epoch 70/100
 - 0s - loss: 0.3441 - acc: 0.8616
Epoch 71/100
 - 0s - loss: 0.3440 - acc: 0.8606
Epoch 72/100
 - 0s - loss: 0.3437 - acc: 0.8606
Epoch 73/100
 - 0s - loss: 0.3442 - acc: 0.8610
Epoch 74/100
 - 0s - loss: 0.3441 - acc: 0.8604
Epoch 75/100
 - 0s - loss: 0.3438 - acc: 0.8606
Epoch 76/100
 - 0s - loss: 0.3442 - acc: 0.8613
Epoch 77/100
 - 0s - loss: 0.3436 - acc: 0.8620
Epoch 78/100
 - 0s - loss: 0.3434 - acc: 0.8610
Epoch 79/100
 - 0s - loss: 0.3431 - acc: 0.8606
Epoch 80/100
 - 0s - loss: 0.3435 - acc: 0.8606
Epoch 81/100
 - 0s - loss: 0.3427 - acc: 0.8620
Epoch 82/100
 - 0s - loss: 0.3426 - acc: 0.8630
Epoch 83/100
 - 0s - loss: 0.3431 - acc: 0.8610
Epoch 84/100
 - 0s - loss: 0.3436 - acc: 0.8599
Epoch 85/100
 - 0s - loss: 0.3430 - acc: 0.8617
Epoch 86/100
 - 0s - loss: 0.3433 - acc: 0.8626
Epoch 87/100
 - 0s - loss: 0.3423 - acc: 0.8607
Epoch 88/100
 - 0s - loss: 0.3426 - acc: 0.8601
Epoch 89/100
 - 0s - loss: 0.3430 - acc: 0.8601
Epoch 90/100
 - 0s - loss: 0.3425 - acc: 0.8616
Epoch 91/100
 - 0s - loss: 0.3425 - acc: 0.8604
Epoch 92/100
 - 0s - loss: 0.3430 - acc: 0.8600
Epoch 93/100
 - 0s - loss: 0.3424 - acc: 0.8609
Epoch 94/100
 - 0s - loss: 0.3421 - acc: 0.8619
Epoch 95/100
 - 0s - loss: 0.3428 - acc: 0.8593
Epoch 96/100
 - 0s - loss: 0.3419 - acc: 0.8633
Epoch 97/100
 - 0s - loss: 0.3418 - acc: 0.8614
Epoch 98/100
 - 0s - loss: 0.3428 - acc: 0.8610
Epoch 99/100
 - 0s - loss: 0.3421 - acc: 0.8617
Epoch 100/100
 - 0s - loss: 0.3420 - acc: 0.8616

In [38]:
y_pred1 = model1.predict(X_test)
y_pred1 = (y_pred1 > 0.5)
cm1 = confusion_matrix(y_test, y_pred1)
print(cm1)
score1=accuracy_score(y_test, y_pred1)
print(score1)

[[2289   84]
 [ 337  290]]
0.8596666666666667